
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.filters-section{
    .filters-wrap{
        .block{
            .wrap{
                display: grid;
                grid-template-columns: 60px 1fr auto;
                .left{
                    img{max-width:60px;}
                }
                .mid{
                    padding-left:15px;
                    .top{
                        .company{
                            color: hsl(180, 29%, 50%);
                            font-size:14px;
                        }
                        .badges{
                            .badge{

                            }
                        }
                    }
                    h6{
                        
                        color: hsl(180, 8%, 52%);
                        font-size:16px;
                        margin:8px 0;
                    }
                    .bottom{
                        .span{
                            color: #999;
                            font-size:14px;
                        }
                    }
                }
                .right{

                }

            }
        }
    }
}