body {
  font-family: "Spartan";
  font-weight: 500;
  color: #252525;
  background: linear-gradient(45deg, hsl(180, 52%, 96%), hsl(180, 52%, 96%));
}
.filters-section .filters-main {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  padding: 15px;
}
.filters-section .filters-main .filters-wrap .block {
  background-color: white;
  border-radius: 5px;
  margin-bottom: 15px;
  padding: 25px;
}
.filters-section .filters-main .filters-wrap .block a {
  text-decoration: unset;
}
.filters-section .filters-main .filters-wrap .block .wrap {
  display: grid;
  grid-template-columns: 60px 1fr auto;
}
.filters-section .filters-main .filters-wrap .block .wrap .left img {
  max-width: 60px;
}
.filters-section .filters-main .filters-wrap .block .wrap .mid {
  padding-left: 15px;
}
.filters-section .filters-main .filters-wrap .block .wrap .mid .top .company {
  color: hsl(180, 29%, 50%);
  font-size: 14px;
}
.filters-section .filters-main .filters-wrap .block .wrap .mid .top .badges .badge {
  padding: 3px 12px;
  color: white;
  margin-left: 10px;
  background: hsl(180, 14%, 20%);
  font-size: 12px;
  border-radius: 15px;
  text-transform: uppercase;
}
.filters-section .filters-main .filters-wrap .block .wrap .mid .top .badges .new {
  background: hsl(180, 8%, 52%);
}
.filters-section .filters-main .filters-wrap .block .wrap .mid h6 {
  color: #252525;
  font-size: 16px;
  margin: 6px 0 2px 0;
  font-weight: bold;
}
.filters-section .filters-main .filters-wrap .block .wrap .mid .bottom span {
  color: #999;
  font-size: 12px;
}
